/* Base */
/* ----------------------------------------------------------*/


.homeVideo img {
  max-width: 600px !important;
  max-height: 333px !important;
}

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 400;
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 { 
  font-weight: 500; 
  color: #333;
}


h2 {
  font-size: 28px;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

hr {
  border-top: 1px solid #e8e8e8;
}

h3 {
  font-size: 20px;
  padding-top: 10px;
}

a { 
  color: #333333; text-decoration: none; 
}

a.active {
  color: #2a7abf;
  font-weight: 500;
}

a:hover { 
  color: #2a7abf; text-decoration: none;
}

/* Table Styling */

table {
  width: 100%;
  font-size: 14px;
  border-width: 1px;
  border-collapse: collapse;
  margin-bottom: 30px;
}

table th {
  border-width: 1px;
  padding: 15px;
  border-style: solid;
  border-color: #cccccc;
  background-color: #f5f5f5;
}

table td {
  border-width: 1px;
  padding: 15px;
  border-style: solid;
  border-color: #cccccc;
  background-color: #ffffff;
}


/* Utility */

p {
  font-size: 14px;
  color: #333;
  line-height: 24px;
  padding-bottom: 12px;
}

ul {
  font-size: 14px;
  color: #333;
  line-height: 26px;
}

ol {
  padding-left: 50px;
  line-height: 26px;
  font-size: 14px;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */

.site-header {
  min-height: 150px;
  background-color: #2a3542;
}

.site-header img {
  width: 132px;
  height: 24px;
/*  opacity: 0.5;
  filter: alpha(opacity=50); /* for IE8 and earlier */*/
}

.navbar-header button {
  margin-right: 0;
}

.site-header img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* for IE8 and earlier */
}

.navbar-right li a {
  line-height: 32px;
  color: #aeb2b7 !important;
}

.navbar-right li a:hover {
  color: #fff !important;
}

.navbar-header button {
  margin-top: 16px;
}


/* Site footer */

.divider {
  margin-top: 40px;
}

.footer {
  min-height: 100px;
  margin-top: 20px;
  padding-top: 10px;
}

.footer p {
  font-size: 12px;
  color: #999;
}

.footer-left {
  margin-bottom: 12px;
}

.footer-right {
  text-align: right;
}

.footer-right a {
  margin-left: 10px;
}

.footer-right a:first-child {
  margin-left: 0;
}

.footer-right img {
  width: 10px;
  height: 10px;
  vertical-align: middle;
  margin-top: -1px;
}


/* Page Content styles */
/* ----------------------------------------------------------*/


.post-content ul {
  padding-left: 40px;
  line-height: 30px;
}

.post-content img {
  height: auto;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.related-posts h3 {
  padding-bottom: 14px;
}

.related-posts ul {
  padding-left: 0;
}

.related-posts li {
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
  list-style-type: none;
}

/* Sidebar styles */
/* ----------------------------------------------------------*/

ul.sidebar {
  list-style-type: none;
  margin-top: 0;
}

ul.sidebar > .category {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #aaaaaa;
  padding-bottom: 6px;
  margin-top: 30px;
  padding-bottom: 20px;
}

ul.sidebar li {
  list-style-type: none;
  line-height: 16px;
  font-size: 14px;
  padding: 4px 0;
}

li.sidebar-link > a {
  padding: 0;
  display: list-item;
}

li.sidebar-link:hover {
}

li.sidebar-link.active {
  font-weight: 500;
}


/* Post styles */
/* ----------------------------------------------------------*/

.post-content {
  margin-top: 10px;
}

/* media queries */
/* ----------------------------------------------------------*/


.navbar-brand span{
  color: #fff;
  font-size: 17px;
  line-height: 82px;
  opacity: 0.5;
  margin-left: 2px;
}

@media screen and (max-width: 768px) {

  a.navbar-brand {
    padding-left: 0;
  }

  .footer-right {
    text-align: left;
  }
}

@media screen and (max-width: 600px) {

  .navbar-inverse .navbar-collapse {
    border: 0;
  }

  .navbar-collapse {
    padding-left: 0;
  }
}