<nav class="navbar navbar-inverse navbar-static-top site-header" role="navigation">
  <div class="container">
    <div class="wrapper">
        <div class="row">
        <div class="navbar-header col-md-6" style="margin-top: 40px;">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img alt="Brand" src="/assets/beegit.png" style="height: 35px; width: 104px;"> <div><em>for</em> Beegit</div>
          </a>
        </div>
        <div class="col-md-2" style="margin-top: 40px; padding-right: 0;">
        </div>
        <div class="col-md-4" style="margin-top: 20px; padding-right: 0;">
          <h2 style="text-align: right; color: #fff; padding-right: 15px; border-bottom: 0;">Help Documentation</h2>
        </div>
      </div>
    </div>
  </nav>
