<ul class="sidebar">
	{% for category in site.categories %}
    {% assign cat_name = (category | first) %}
  	<li class="category">{{ cat_name | capitalize }}</li>
	    <ul>
            {% assign cat_posts = (site.categories[cat_name] | sort: 'sequence') %}
	    	{% for post in cat_posts %}
                {% if post.url %}
                    {% if page.url == post.url %}
                        <li class="active sidebar-link"><a href="{{post.url}}" class="active">{{post.title}}</a></li>
                    {% else %}
                        <li class="sidebar-link"><a href="{{post.url}}">{{post.title}}</a></li>
                    {% endif %}
                {% endif %}
	    	{% endfor %}
	    </ul>
  	</li>
	{% endfor %}
</ul>