<h2>Beegit questions? We have answers.</h2>
<img src="https://s3.amazonaws.com/beegit-images/helpImages/home.png">
<h3 style="padding-bottom: 20px; padding-top: 0;">12 common questions about using Beegit.</h3>
<ol>
	<li><a href="/how-do-mentions-work/">How do @mentions work?</a></li>
	<li><a href="/using-beegit/">Who uses Beegit?</a></li>
	<li><a href="/making-a-version/">How do I make a version of my work?</a></li>
	<li><a href="/how-do-you-charge-for-beegit/">How do you charge for Beegit?</a></li>
	<li><a href="/what-is-markdown/">What is Markdown?</a></li>
	<li><a href="/what-do-the-project-colors-mean/">What do the colors next to projects on my dashboard mean?</a></li>
	<li><a href="/setting-up-beegit/">How do I set up Beegit for my team?</a></li>
	<li><a href="/what-is-the-difference-between-a-public-and-private-project/">What is the difference between a public and a private project?</a></li>
	<li><a href="/how-do-i-manage-my-email-notifications-for-all-projects/">How do I manage my email notifications for all projects?</a></li>
	<li><a href="/how-do-i-change-my-account-settings/">How do I change my account settings?</a></li>
	<li><a href="/how-does-the-free-trial-work/">How does the free trial work?</a></li>
	<li><a href="/what-are-the-user-roles/">What are the user roles?</a></li>
</ol>
